# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local



# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# .env # Removed by Orchids to allow .env files
# .env*.local # Removed by Orchids to allow .env files
# .env.local # Removed by Orchids to allow .env files
# .env.development.local # Removed by Orchids to allow .env files
# .env.test.local # Removed by Orchids to allow .env files
# .env.production.local # Removed by Orchids to allow .env files

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts